@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MeriadPro/MyriadPro-Bold.woff');
    src: url('../fonts/MeriadPro/MyriadPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MeriadPro/MyriadPro-Regular.woff');
    src: url('../fonts/MeriadPro/MyriadPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
